$break-point-mobile: 576px;
$break-point-tablet: 798px;
$break-point-large: 992px;
$break-point-destock: 1200px;

//color background
$color-back-yellow-header: #DAC933;
$color-back-blue-darken: #7f87aa;
$color-back-blue: #9da5c9;
$color-back-blue-lingtheen: #c8d0f0;

//color texts
$color-text-yellow: #AFA33C;
$color-text-header: #645e23;

//buttom
$color-buttom-blue: #534F77;

// img size header
$img-size-logo: 35%;
$img-size-menu: 10%;
