$break-point-mobile: 576px;
$break-point-tablet: 798px;
$break-point-large: 992px;
$break-point-destock: 1200px;

//color background
$color-back-yellow-header: #DAC933;
$color-back-blue-darken: #5D5A79;
$color-back-blue: #9391AD;
$color-back-blue-lingtheen: #C2C1D4;

//color texts
$color-text-yellow: #AFA33C;

//buttom
$color-buttom-blue: #534F77;

