//brakpoint tablet
@media (min-width: $break-point-mobile) {

  .help {
    grid-template-rows: 100px 1fr;
    grid-template-areas: " img title"
                          "img   description";
  }
  .description{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .help-title {
    font-size: 2rem;
  }
  .help-description{
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
  .img-help {
    width: 70%;
    height: 70%;
  }
  .help-button{
    width: 60%;

  }

    .item:nth-of-type(1) {
      background-color: $color-back-yellow-header;
      grid-column: 1/5;
    }
    .item:nth-of-type(2) {
      background-color: $color-back-blue-darken;
      grid-column: 1/3;
    }
    .item:nth-of-type(3) {
      background-color: $color-back-blue;
      grid-column: 3/5;
    }
    .item:nth-of-type(4) {
      grid-column: 1/5;

    }
}
