@import '../utilities/variables';
//main container style of grid items
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 87px repeat(3, 1fr);
  height: 100vh;
  width: 100vw;
}
// product container styles
.product-one {
  padding: 30px;
}
.container-product {
  background-color: white;
  width: 427px;
  height: 500px;
  padding: 10px;
  margin: auto;
}
.title {
  font-size: 35px;
  color: $color-text-yellow;
  font-family: 'OpenSansBold', sans-serif;
}
.img-product{
  width: 282px;
}
