@import '../utilities/variables';

//main container style of grid items
.container {
  display: grid;
  grid-template-rows: 87px repeat(3, 1fr);
  height: 100vh;
  width: 100vw;
}

// styles product components
.products {
  padding-top: 2rem;
  height: 100%;
}
.container-product {
  background-color: white;
  width: 90%;
  height: 90%;
  padding: 1.2rem;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-title {
  font-size:1.8rem;
  color: $color-text-yellow;
  font-family: 'OpenSansBold', sans-serif;
  margin: 5px 0 ;
}
.product-description {
  font-family: 'OpenSansBold', sans-serif;
  font-size: .80rem;
  color: $color-text-yellow;
  margin: 1rem 0;
}
.img-container {
  height: 60%;
  width: 100%;
}
.img-product{
  width: 100%;
  height: 100%;
}
.img-product-two{
  width: 80%;
  height: 80%;
  padding: 10%;
  box-sizing: border-box;
  margin: 10%;
}
.products-button{
  width: 100%;
  height: 50px;
  background-color: $color-buttom-blue;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

//styles help component
.container-help {
  @extend .container-product;
  background-color: transparent;
}
.help-title {
  @extend .product-title;
  color: $color-buttom-blue;
}
.help-description{
  @extend .product-description;
  color: $color-buttom-blue;
}
.help-button{
  @extend .products-button;
}
.img-help {
  @extend .img-product;
}

//basic styles

  .item:nth-of-type(1) {
    background-color: $color-back-yellow-header;
  }
  .item:nth-of-type(2) {
    background-color: $color-back-blue-darken;
  }
  .item:nth-of-type(3) {
    background-color: $color-back-blue;
  }
  .item:nth-of-type(4) {
    background-color: $color-back-blue-lingtheen;
  }


